<ion-content>
<section id="home" class="carousel__container">
  <ngb-carousel [interval]="5000" [pauseOnHover]="true">
    <!--? ===== Slide 1 ===== -->
    <ng-template ngbSlide>
      <div class="img__container">
        <img src="\assets\Produtos\CILINDROS_PNEUMATICOS__700x525.jpg" alt="CILINDROS PNEUMATICOS" class="d-block">
        <span class="product__name">CILINDROS PNEUMATICOS</span>
      </div>
    </ng-template>
    <!--? ===== Slide 1 ===== -->

    <!--? ===== Slide 2 ===== -->
    <ng-template ngbSlide>
      <div class="img__container">
        <img src="\assets\Produtos\FUSOS_ESFERICOS_E_CASTANHAS__700x525.jpg" alt="FUSOS E CASTANHAS" class="d-block">
        <span class="product__name">FUSOS E CASTANHAS</span>
      </div>
    </ng-template>
    <!--? ===== Slide 2 ===== -->

    <!--? ===== Slide 3 ===== -->
    <ng-template ngbSlide>
      <div class="img__container">
        <img src="\assets\Produtos\GUIAS_LINEARES TILHO_E_BLOCOS__700x525.jpg" alt="GUIAS LINEARES" class="d-block">
        <span class="product__name">GUIAS LINEARES</span>
      </div>
    </ng-template>
    <!--? ===== Slide 3 ===== -->

    <!--? ===== Slide 4 ===== -->
    <ng-template ngbSlide>
      <div class="img__container">
        <img src="\assets\Produtos\SISTEMAS_DE_TRATAMENTO_DE_AR__700x525.jpg" alt="SISTEMAS DE TRATAMENTO" class="d-block">
        <span class="product__name">SISTEMAS DE TRATAMENTO</span>
      </div>
    </ng-template>
    <!--? ===== Slide 4 ===== -->

    <!--? ===== Slide 5 ===== -->
    <ng-template ngbSlide>
      <div class="img__container">
        <img src="\assets\Produtos\VALVULAS_PNEUMATICAS__700x525.jpg" alt="VÁLVULAS PNEUMATICAS" class="d-block">
        <span class="product__name">VÁLVULAS PNEUMATICAS</span>
      </div>
    </ng-template>
    <!--? ===== Slide 5 ===== -->
  </ngb-carousel>
</section>

  <!--* ----- Quem Somos ----- -->
<section id="about-us" class="about-us__container">
  <img src="\assets\wave.svg" alt="" />
  <div id="content" class="about-us__content">
    <h2 class="section-title">Quem Somos</h2>
    <p>
      A EMPORIO SPA é uma distribuidora de produtos de alto desenvolvimento
      tecnológico voltados para a Automação Industrial. Com uma ampla gama de
      produtos, atendemos todos os tipos de indústrias, oferecendo soluções
      completas que incluem painéis de controle e comando, elementos de fixação
      e movimentação, cabos, sensores, terminais, IHMs e muito mais.<br />
      Nossa missão é contribuir para a eficiência e sustentabilidade na cadeia
      produtiva de nossos clientes.
    </p>
  </div>
  <img src="\assets\wave-down.svg" alt="" />
</section>
<!--* -----Quem Somos----- -->

<!--* ----- Contato ----- -->
<section class="contact__container">
  <img
    src="\assets\fachada.jpg"
    alt="Imagem mostrando a fachada da loja, escrito Empório Spare Parts Automation"
  />
    <!--? ===== Informações de contato ===== -->
    <div class="contact-right">
      <!--? ===== TELEFONE ===== -->
      <div class="contact-item">
        <div class="icon"><i class="bi bi-telephone-forward"></i></div>
        <div class="info">
          <strong>Telefone:</strong>
          <p>(31) 3352-8709 | (31) 2565-4440</p>
        </div>
      </div>
      <!--? ===== TELEFONE ===== -->

      <!--? ===== WHATSAPP ===== -->
      <div class="contact-item">
        <div class="icon"><i class="bi bi-whatsapp"></i></div>
        <div class="info">
          <strong>Whatsapp:</strong>
          <p>(31) 97159-1206</p>
        </div>
      </div>
      <!--? ===== WHATSAPP ===== -->

      <!--? ===== E-MAIL ===== -->
      <div class="contact-item">
        <div class="icon"><i class="bi bi-envelope-arrow-up"></i></div>
        <div class="info">
          <strong>E-mail:</strong>
          <p>emporio&#64;spaemporio.com.br</p>
        </div>
      </div>
      <!--? ===== E-MAIL ===== -->

      <!--? ===== ENDEREÇO ===== -->
      <div class="contact-item">
        <div class="icon"><i class="bi bi-geo-alt"></i></div>
        <div class="info">
          <strong>Endereço:</strong>
          <p>
            José Faria da Rocha, 224<br />Eldorado - Contagem - MG<br />CEP:
            32.315-040
          </p>
        </div>
      </div>
      <!--? ===== ENDEREÇO ===== -->
    </div>
    <!--? ===== Informações de contato ===== -->
</section>
</ion-content>
