#finalizar-compra {
  background-color: lightgray;
  color: black;
  border: 1px solid lightgray;
  border-radius: 30px;
}.content-section{
  min-height: 100vh;
}



//Barra de pesquisa
.catalogue-top{
  position: relative;
  width: 100%;
  height: 10%;
}

.searchbar-container{
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


ion-searchbar{
  width: 30vw;
}

.sort-buttons{
  display: flex;
  flex-direction: row;
}
.sort-buttons ion-item ion-label:hover{
  color: var(--ion-color-primary);
}



ion-item{
  display: flex;
  align-items: center;
}

ion-item ion-label{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

// Filtros
.sem-resultados{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// Carrinho
.cart-button{
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  --background: none;
  --border: none;
  --box-shadow: none;
}

.cart-button:hover{
  --color:var(--ion-color-primary);
}
