<app-header></app-header>
<ion-content>
    <ion-searchbar
    placeholder="Buscar produtos..."
    (ionInput)="filtrarProdutos($event)">
  </ion-searchbar>
  <section class="content-section">
    @if (produtosFiltrados.length > 0) {
      <ion-grid>
        <ion-row>
          @for (item of produtosFiltrados; track item.id) {
            <ion-col size="6" size-md="4" size-lg="3">
              <app-product-card
                [descricao]="item.nome"
                [modelo]="item.modelo"
                [preco]="item.preco_venda"
                [estoque]="FiltrarEstoque(item.id)">
              </app-product-card>
            </ion-col>
          }
        </ion-row>
      </ion-grid>
    } @else {
      <div class="sem-resultados ion-text-center ion-padding">
        <ion-icon name="alert-circle-outline" size="large" color="medium"></ion-icon>
        <p>Nenhum produto encontrado</p>
      </div>
    }
  </section>
  <!-- <section class="content-section">
    <ion-grid>
      <ion-row>
        @for (item of produtos; track item.id) {
          <ion-col size="2" size-md="2" size-lg="3">
            <app-product-card
              [descricao]="item.nome"
              [modelo]="item.modelo"
              [preco]="item.preco_venda"
              [estoque]="FiltrarEstoque(item.id)">
            </app-product-card>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  </section> -->
  <!-- <section class="content-section">
    <div class="product-grid">
      @for (item of produtos; track item.id) {
        <app-product-card
          [descricao]="item.nome"
          [modelo]="item.modelo"
          [preco]="item.preco_venda"
          [estoque]="FiltrarEstoque(item.id)">
        </app-product-card>
      }
    </div>
  </section> -->
  <app-footer></app-footer>
</ion-content>
