
ion-toolbar{
  padding-right: 1rem;
}


ion-buttons{
  justify-content: space-between;
  // padding-right: 1rem;
}

ion-button.active {
  --color: var(--ion-color-primary);
  font-weight: bold;
}

img{
  height: 10vh;
}

ion-button:hover{
  color: orangered;
}
