<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <div class="logo">
        <ion-button (click)="goToSection('homeSection')">
          <img src="../../assets/Emporio-SemFundo.png" alt="Empório SPA">
        </ion-button>
      </div>
      <div class="navigation">
        <ion-button [class.active]="activeSectionId === 'homeSection'" (click)="goToSection('homeSection')">
          início
        </ion-button>
        <ion-button [class.active]="activeSectionId === 'contactSection'" (click)="goToSection('contactSection')">
          Contato
        </ion-button>
          <ion-button [class.active]="activeSectionId === 'catalogo'" (click)="goToCatalogo()">
            Catálogo
          </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
